* {
  transition: ease .2s;
}

* {
  font-family: sourcesans,Arial,Verdana,sans-serif;
}

.right { float: right; }

.form-horizontal {
	margin: 0;
	padding: 20px;
	margin-top: 20px;	
	border-radius: 2px;
	color: rgba(0, 0, 0, 0.84);
	/*background: #ffffff;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.form-horizontal.open {
	padding: 20px;
	margin-top: 20px;	
}

.form-horizontal .form-group { margin-left: 0; margin-right: 0; }

.header-card {
  margin-top: 20px;
  background: #fc3;
  color: black;
  padding: 20px;
}

.compose { position: relative; }
.compose > a {
	position: absolute;
	top: -48px;
	right: 1em;
}

.card-title {
  padding: 0 20px;
}

.card .card-content {
  position: static;
}

.menu {
  float: right;
  margin-right: 20px;
}

.nav__button--account:before {
  background-image: url(http://www.kvk.nl/includes/img/icons-svg/icon-person.svg);
  display: inline-block;
  width: 1em;
  margin-bottom: 0;
  position: relative;
  top: .15em;
  height: 1em;
  margin-right: .625rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  font-size: 1.5em;
  line-height: 1em;
  content: '';
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.default-closed {
	height: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.default-closed.open {
	height: auto;
	overflow: auto;
}

.list-group-separator {
  width: 100%;
}

.list-group .list-group-separator:before {
  width: calc(100% - 150px);
}

a, a:hover, a:focus {
    color: #083764;
}

#kvk-logo {
  float:left;
  margin: 10px 0 0 10px;
  height: 40px;
}

@media (max-width: 1199px) {
  #kvk-logo {
    float:left;
    height: 30px; 
    margin: 10px 0 0 10px;
  }
}